

body {
	margin: 100px;
	background-color: #000099;
	font-family: Helvetica, Arial;
	text-align: center;
}

h1 {
	color: white;
}

li {
	list-style: none;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	margin: 10px;
}
input[type = "text"] {
	-webkit-border-radius: 3px;
}
input[type = "submit"] {
	border-radius: 8px;
}